body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    background: #77aaff;
    color: white;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1em;
}

.recipe-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.recipe-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.recipe-info {
    width: 45%;
    list-style: none;
    padding: 0;
}

.recipe-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.nutritional-info {
    margin-bottom: 20px;
}

.nutritional-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.nutritional-info .box {
    flex: 1 1 48%;
    background: #f8f8f8;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ingredients, .instructions {
    margin-bottom: 20px;
}

.ingredients ul, .instructions ul {
    list-style: none;
    padding: 0;
}

.ingredients li, .instructions li {
    background: #f8f8f8;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.instructions input[type="checkbox"] {
    margin-right: 10px;
}
