body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-details,
.rating,
.ingredients,
.instructions {
    margin-bottom: 20px;
}

.recipe-info {
    list-style: none;
    padding: 0;
}

.recipe-info li {
    font-size: 16px;
}

.nutritional-info ul {
    list-style: none;
    padding: 0;
}

.nutritional-info li {
    font-size: 14px;
}

.stars {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.star:hover,
.star.selected {
    color: gold;
}

#submit-rating {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#submit-rating:hover {
    background-color: #218838;
}

#rating-counter {
    margin-top: 10px;
    font-size: 16px;
}

.ingredients .btn {
    margin-bottom: 15px;
}

.ingredients ul {
    list-style: none;
    padding: 0;
}

.ingredients li {
    font-size: 16px;
    margin-bottom: 5px;
}

.instructions ul {
    list-style: none;
    padding: 0;
}

.instructions li {
    font-size: 16px;
    margin-bottom: 10px;
}
