body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    margin: 0;
}

h2 {
    color: #35424a;
}

#star-container {
    margin: 10px 0;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #cccccc;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
    color: #e8491d;
}

#results {
    margin-top: 20px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
}
