<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
</head>
<body>
    <h1>Sign up:</h1>
    <form action="/tasty-food/submit" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required> 
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    
    <h1>Login: </h1>
    <form action="/submitl" method="post">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" required> 
        <br>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" required>
        <br>
        <button type="submit">Submit</button>

    </form>
    <p id="result"></p>
</body>
</html>
